@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container,
.nav-links{
    display: flex;
}

.logo-container {
	flex: 1;
}
.logo {
	font-weight: 200;
    margin: 2px;
}
nav {
	flex: 3;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-links li{
	list-style-type: none; 
	display: inline-block;
	padding: 5px 20px;
	cursor: pointer;
	border-radius: 10px;
	transition: 0.5s ease;
}
.nav-links li:hover{
	background-color: #ef4478;
}
.nav-links li.active a{
	background-color: #ef4478;
	color: #ef4478;
}
.nav-link {
	color: #5f5f79;
	font-size: 18px;
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .form_container{
    padding: 40px 50px 40px 50px;
    background-image: linear-gradient(45deg, #ef4478, #ef4478);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(253, 251, 251, 0.5);
}

.container .form_container .heading h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container .form_container .input_box input{
    background: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 100%;
    border: none;
    color: white;
    margin-bottom: 20px;
    font-size: 13px;
    padding: 4px 0px 4px 25px;
    height: 33px;
    transition: 0.8s all;
    font-family: 'Poppins', sans-serif;
}

.container .form_container .input_box textarea{
    background: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 100%;
    border: none;
    color: white;
    margin-bottom: 20px;
    font-size: 13px;
    padding: 4px 0px 4px 25px;
    transition: 0.8s all;
    font-family: 'Poppins', sans-serif;
}
.container .form_container .input_box input:focus,
.container .form_container .input_box textarea:focus{
    outline: none;
    border-color: #fff;
}

.container .form_container .input_box{
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.container .form_container .input_box .icon{
    position: absolute;
    height: 33px;
    color: white;
    line-height: 33px;
}

.container .form_container .submit button{
    border: none;
    outline: none;
    width: 100%;
    background: white;
    color: #555;
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
    font-family: 'Poppins', sans-serif;
}

.container .form_container .submit button:hover{
    background: #white;
    color: #c36cbb;
}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 80%;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}
.small-circle {
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
}